@keyframes wiggle {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: trasnslateX(-5px);
    }
  }
  
.wiggle {
    display: inline-block; /* Important for transform to work */
    animation: wiggle 0.5s ease-in-out infinite; /* Apply wiggle animation */
  }